[Unit]
Description=auto.sh
ConditionPathExists=/run/live/medium/live/auto.sh

[Service]
Type=simple
ExecStartPre=/usr/bin/chvt 11
ExecStart=/usr/bin/bash /run/live/medium/live/auto.sh
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty11

[Install]
WantedBy=multi-user.target
